# runtime
requests>=2.32
protobuf>=5.29

# only needed if you want to regenerate ei_pb2.py from ei.proto
# pip install grpcio-tools
# python -m grpc_tools.protoc -I<path_to_egg_repo>/protobuf --python_out=. ei.proto
